<form [formGroup]="myForm">
    <div class="btn">
        <button mat-raised-button color="primary" [disabled]="!isReadOnly" (click)="doEdit()">Edit</button>
        <button mat-raised-button color="warn" [disabled]="!isReadOnly" (click)="deleteProject()">Delete</button>
        <button mat-raised-button class="btn-save" [disabled]="isReadOnly || myForm.invalid" (click)="updateProject()">Save</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6" id="container1">
                <mat-form-field>
                    <input matInput placeholder="Project Name" formControlName="project_name" [readonly]="true">
                    <mat-error *ngIf="project_name.invalid && project_name.touched">
                        <div *ngIf="project_name.errors?.pattern">Project Name should like (Ex: Xxxx)</div>
                        <div *ngIf="project_name.errors.required"> Project Name is required</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Project Code" formControlName="project_code" [readonly]="true">
                    <mat-error *ngIf="project_code.invalid && project_code.touched">
                        <div *ngIf="project_code.errors?.pattern">Project code should like (Ex: PJXXX, PJYYY)</div>
                        <div *ngIf="project_code.errors.required"> Project code is required</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Project Manager" formControlName="project_manager" [readonly]=isReadOnly>
                    <mat-error *ngIf="project_manager.invalid && project_manager.touched">
                        <div *ngIf="project_manager.errors?.pattern">Project Manager Name should like (Ex: Xxxx Y)</div>
                        <div *ngIf="project_manager.errors.required"> Project Manager Name is required</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Project Start Date" formControlName="project_start_date" [readonly]="true">
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="mydatepicker" [min]="date" placeholder="Project End Date" formControlName="project_end_date"
                        [readonly]=isReadOnly>
                    <mat-datepicker-toggle matSuffix [for]="mydatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #mydatepicker></mat-datepicker>
                    <mat-error *ngIf="project_end_date.invalid && project_end_date.touched">
                        <div *ngIf="project_end_date.errors.required"> Project End Date is required</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="number" matInput placeholder="Project Budget(in $)" formControlName="project_budget" [readonly]=isReadOnly>
                    <mat-error *ngIf="project_budget.invalid && project_budget.touched">
                        Project Budget is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Project Description" formControlName="project_description" [readonly]=isReadOnly>
                </mat-form-field>
            </div>
            <div class="col-lg-6" id="container2">
                    <div formArrayName="team_members" >
                            <h4>Project members</h4>
                        <div *ngFor="let member of teamArray.controls; let i = index" [formGroupName]="i" class="team">
                            <mat-form-field>
                                <input matInput placeholder="Team Member Id" formControlName="member_id" [readonly]=isReadOnly>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Team Member Name" formControlName="member_name" [readonly]=isReadOnly>
                            </mat-form-field>
                            <button mat-raised-button color="warn" [disabled]="isReadOnly" (click)="deleteMembers(i)">Delete Member</button>
                        </div>
                    </div>
                    <button mat-raised-button color="primary" [disabled]= "isReadOnly" (click)="addMembers()">Add Team Member</button>
                </div>
        </div>
    </div>

</form>